@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.6;
    background-image: url('../img/opera.png');
    overflow-x: hidden;
}


header {
    background-color: #54000882;
    width: 100%;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header h1 p {
    color: white;
    text-align: center;
} 


main {
    max-width: 900px;
    margin: 2em auto;
    padding: 1em;
    background-color: #54000882; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

section {
    margin-bottom: 2em;
    padding: 1.5em;
    border-bottom: 1px solid #eee; /* Separador sutil entre as seções */
}

section:last-of-type {
    border-bottom: none; /* Remove a linha da última seção */
}

h2 {
    color: white; 
    font-size: 1.8em;
    margin-top: 0;
    padding-left: 10px;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

ul {
    list-style-type: disc; /* Marcadores de lista padrão */
    padding-left: 25px;
}

li {
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: #54000882;
    color: #ecf0f1;
    font-size: 0.9em;
}

img {
    width: 500px;
}